{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
	Icons
</f:section>

<f:section name="content">

<table class="table table-bordered">
	<tr>
		<th></th>
		<th>small</th>
		<th>default</th>
		<th>large</th>
	</tr>
	<tr>
		<th>not registered icon</th>
		<td><core:icon identifier="default-not-found" size="small" /></td>
		<td><core:icon identifier="default-not-found" size="default" /></td>
		<td><core:icon identifier="default-not-found" size="large" /></td>
	</tr>
	<tr>
		<th>provider-svg</th>
		<td><core:icon identifier="provider-svg" size="small" /></td>
		<td><core:icon identifier="provider-svg" size="default" /></td>
		<td><core:icon identifier="provider-svg" size="large" /></td>
	</tr>
	<tr>
		<th>provider-svg with overlay</th>
		<td><core:icon identifier="provider-svg" size="small" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-svg" size="default" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-svg" size="large" overlay="overlay-read-only" /></td>
	</tr>
	<tr>
		<th>provider-bitmap</th>
		<td><core:icon identifier="provider-bitmap" size="small" /></td>
		<td><core:icon identifier="provider-bitmap" size="default" /></td>
		<td><core:icon identifier="provider-bitmap" size="large" /></td>
	</tr>
	<tr>
		<th>provider-bitmap with overlay</th>
		<td><core:icon identifier="provider-bitmap" size="small" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-bitmap" size="default" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-bitmap" size="large" overlay="overlay-read-only" /></td>
	</tr>
	<tr>
		<th>provider-fontawesome</th>
		<td><core:icon identifier="provider-fontawesome" size="small" /></td>
		<td><core:icon identifier="provider-fontawesome" size="default" /></td>
		<td><core:icon identifier="provider-fontawesome" size="large" /></td>
	</tr>
	<tr>
		<th>provider-fontawesome with overlay</th>
		<td><core:icon identifier="provider-fontawesome" size="small" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-fontawesome" size="default" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-fontawesome" size="large" overlay="overlay-read-only" /></td>
	</tr>
</table>



<hr>



<h2>Buttons</h2>

<h4>Default</h4>
<a class="btn btn-default" href="#">
	<core:icon identifier="default-not-found" size="small" />
</a>
<a class="btn btn-default" href="#">
	<core:icon identifier="default-not-found" size="small" /> default-not-found [a]
</a>
<button class="btn btn-default">
	<core:icon identifier="default-not-found" size="small" />
</button>
<button class="btn btn-default">
	<core:icon identifier="default-not-found" size="small" /> default-not-found [button]
</button>


<h4>Provider SVG</h4>
<a class="btn btn-default" href="#">
	<core:icon identifier="provider-svg" size="small" />
</a>
<a class="btn btn-default" href="#">
	<core:icon identifier="provider-svg" size="small" /> provider-svg [a]
</a>
<button class="btn btn-default">
	<core:icon identifier="provider-svg" size="small" />
</button>
<button class="btn btn-default">
	<core:icon identifier="provider-svg" size="small" /> provider-svg [button]
</button>


<h4>Provider Bitmap</h4>
<a class="btn btn-default" href="#">
	<core:icon identifier="provider-bitmap" size="small" />
</a>
<a class="btn btn-default" href="#">
	<core:icon identifier="provider-bitmap" size="small" /> provider-bitmap [a]
</a>
<button class="btn btn-default">
	<core:icon identifier="provider-bitmap" size="small" />
</button>
<button class="btn btn-default">
	<core:icon identifier="provider-bitmap" size="small" /> provider-bitmap [button]
</button>


<h4>Provider FontAwesome</h4>
<a class="btn btn-default" href="#">
	<core:icon identifier="provider-fontawesome" size="small" />
</a>
<a class="btn btn-default" href="#">
	<core:icon identifier="provider-fontawesome" size="small" /> provider-fontawesome [a]
</a>
<button class="btn btn-default">
	<core:icon identifier="provider-fontawesome" size="small" />
</button>
<button class="btn btn-default">
	<core:icon identifier="provider-fontawesome" size="small" /> provider-fontawesome [button]
</button>



<hr>



<h2>Registration</h2>

<h4>Register SVG</h4>
<pre>
$iconRegistry->registerIcon(
	'provider-svg',
	\TYPO3\CMS\Core\Imaging\IconProvider\SvgIconProvider::class,
	array(
		'source' => 'EXT:icon_api/Resources/Public/Icons/provider_svg_icon.svg'
	)
);
</pre>

<h4>Register Bitmap</h4>
<pre>
$iconRegistry->registerIcon(
	'provider-bitmap',
	\TYPO3\CMS\Core\Imaging\IconProvider\BitmapIconProvider::class,
	array(
		'source' => 'EXT:icon_api/Resources/Public/Icons/provider_bitmap_icon.png'
	)
);
</pre>

<h4>Register FontAwesome</h4>
<pre>
$iconRegistry->registerIcon(
	'provider-fontawesome',
	\TYPO3\CMS\Core\Imaging\IconProvider\FontawesomeIconProvider::class,
	array(
		'name' => 'desktop'
	)
);
</pre>

</f:section>