{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
	Icons
</f:section>

<f:section name="content">

<table class="table table-bordered">
	<tr>
		<th></th>
		<th>small</th>
		<th>medium</th>
		<th>large</th>
		<th>big</th>
	</tr>
	<tr>
		<th>not registered icon</th>
		<td><core:icon identifier="default-not-found" size="small" /></td>
		<td><core:icon identifier="default-not-found" size="medium" /></td>
		<td><core:icon identifier="default-not-found" size="large" /></td>
		<td><core:icon identifier="default-not-found" size="big" /></td>
	</tr>
	<tr>
		<th>provider-svg</th>
		<td><core:icon identifier="provider-svg" size="small" /></td>
		<td><core:icon identifier="provider-svg" size="medium" /></td>
		<td><core:icon identifier="provider-svg" size="large" /></td>
		<td><core:icon identifier="provider-svg" size="big" /></td>
	</tr>
	<tr>
		<th>provider-svg with overlay</th>
		<td><core:icon identifier="provider-svg" size="small" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-svg" size="medium" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-svg" size="large" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-svg" size="big" overlay="overlay-read-only" /></td>
	</tr>
	<tr>
		<th>provider-bitmap</th>
		<td><core:icon identifier="provider-bitmap" size="small" /></td>
		<td><core:icon identifier="provider-bitmap" size="medium" /></td>
		<td><core:icon identifier="provider-bitmap" size="large" /></td>
		<td><core:icon identifier="provider-bitmap" size="big" /></td>
	</tr>
	<tr>
		<th>provider-bitmap with overlay</th>
		<td><core:icon identifier="provider-bitmap" size="small" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-bitmap" size="medium" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-bitmap" size="large" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-bitmap" size="big" overlay="overlay-read-only" /></td>
	</tr>
	<tr>
		<th>provider-fontawesome</th>
		<td><core:icon identifier="provider-fontawesome" size="small" /></td>
		<td><core:icon identifier="provider-fontawesome" size="medium" /></td>
		<td><core:icon identifier="provider-fontawesome" size="large" /></td>
		<td><core:icon identifier="provider-fontawesome" size="big" /></td>
	</tr>
	<tr>
		<th>provider-fontawesome with overlay</th>
		<td><core:icon identifier="provider-fontawesome" size="small" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-fontawesome" size="medium" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-fontawesome" size="large" overlay="overlay-read-only" /></td>
		<td><core:icon identifier="provider-fontawesome" size="big" overlay="overlay-read-only" /></td>
	</tr>
</table>

<h4>Register SVG</h4>
<pre>
$iconRegistry->registerIcon(
	'provider-svg',
	\TYPO3\CMS\Core\Imaging\IconProvider\SvgIconProvider::class,
	array(
		'source' => 'EXT:icon_api/Resources/Public/Icons/provider_svg_icon.svg'
	)
);
</pre>

<h4>Register Bitmap</h4>
<pre>
$iconRegistry->registerIcon(
	'provider-bitmap',
	\TYPO3\CMS\Core\Imaging\IconProvider\BitmapIconProvider::class,
	array(
		'source' => 'EXT:icon_api/Resources/Public/Icons/provider_bitmap_icon.png'
	)
);
</pre>

<h4>Register FontAwesome</h4>
<pre>
$iconRegistry->registerIcon(
	'provider-fontawesome',
	\TYPO3\CMS\Core\Imaging\IconProvider\FontawesomeIconProvider::class,
	array(
		'name' => 'desktop'
	)
);
</pre>

</f:section>